div.logo_header {
    background-color: red;
    height: 100px;
  }

  div.idiomas {
    background-color: blue;
    height: 100px;
  }

  div.secciones {
    background-color: yellow;
    height: 100px;
  }


  img.logo-header {
    width: 140px;
    height: 100px;
  }

  
  
  img.ods-4-Image {
    width: 140px;
    height: 100px;
  }

  aside {
    width: 200px;
    height: 200px;
    float: right;
    margin: 10px;
    padding: 20px;
    background-color: aqua;
  }
