div.logo_header {
    background-color: red;
    height: 100px;
  }

  div.idiomas {
    background-color: blue;
    height: 100px;
  }

  div.secciones {
    background-color: yellow;
    height: 100px;
  }


  img.logo-header {
    width: 140px;
    height: 100px;
  }

  
  
  img.ods-4-Image {
    width: 140px;
    height: 100px;
  }

  aside {
    width: auto;
    height: auto;
    float: right;
    margin: 10px;
    padding: 20px;
    background-color: aqua;
  }

  section.cuadro-principal {
    background-color: blueviolet;

  }

  section.div-pacto  {
    background-color: coral;

  }

  div.ramas  {
    background-color: grey;

  }

  div.rama_1 {
    background-color: hotpink;
  }

  div.rama_2 {
    background-color: olivedrab;
  }
  div.rama_3 {
    background-color: orange;
  }

  div.carrusel{
    background-color: cornflowerblue;
    width: 250px ;
    height: 150px;
    }

  footer{
    background-color: black;
    color: white;
  }